body {
  background-color: #D9DEDF;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-size: 18px;
  margin-top: 0;
  font-style: italic;

 
  
}

.note {
  color: #4A4C4C ;
  font-size: 12px;
}


