.reply-btn {
    position: absolute;
    top: 85%;
    left: 10px;
    border-radius: 6px;
    padding: 3px 12px;
    background-color: #ff4d2e;
    color: white;
    font-size: 10px;
    border: 1px solid #ff4d2e;
    font-family: 'Poppins', sans-serif;
}