
.comment-text {
    background: #EFEFEF;
    border-radius: 8px;
    padding: 6px 15px
}

.reply {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #3B3A3A;
    cursor: pointer;  
    margin-top: 3px;
}