.ideas-frame {
  display: flex;
  flex-direction: column;
  align-items: center;

  .category {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    align-items: center;

    p {
      color: grey;
      padding: 5px;
      text-align: center;

      @media (max-width: 1000px) {
        font-size: 12px;
        margin-right: 15px
        
      }
      
      @media (max-width: 500px) {
        font-size: 10px;
        margin-right: 0px
          
      }
    }

    p:hover {
      color: white;
      background-color: grey;
      border-radius: 4px;
      padding: 5px
    }

    select {
      @media (max-width: 1000px) {
        font-size: 14px;
        
      }
      
      @media (max-width: 500px) {
        font-size: 10px;
        
          
      } 
    }
  }

  .create-btn {
    margin: 10px 0 0 0;
    width: 10%;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    background-color:#F8DB68 ;
    color: black;

    @media( max-width: 500px ) {
        font-size: 10px;
        width: 20%;
      }
  }

  .create-btn:hover {
    background-color:gray ;
    color: white;
  }

  .ideas {
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
  }

}

