.join {
    display: flex;
    flex-direction: column;
    width: 90%;

    .title {
        font-weight: bold;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        

        .project-info {
            // background-color: red;
            padding: 10px;
            border-right: 1px solid black;
            .title {
                font-weight: bold;
            }
        }

        .member-info {
            // background-color: blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;

            input {
                margin: 10px;
                height: 30px;
                width: 60%;
            }
        }
    }

    .expand-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .members {
            width: 50%
        }

        .thoughts {

        }
    }

    
}