
.join {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 30px 60px 60px 30px;
    height: 100%;
    overflow:hidden;
    min-height: 100vh;
    background-image: linear-gradient(to right, #FDDACC , #FCF1C7 );

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 6px;
        width: 100%;
        
        

        .project-info {
            // background-color: red;
            border-right: 1px solid #FDDACC;
            display: flex;
            width: 70%;
            justify-content: space-around;
            align-items: center;
            padding: 20px;


            .name-cate{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .project-name {
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    // background-color: red
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    padding: 20px;
                    text-align: center;
                    font-family: 'Poppins', sans-serif;
                    
                }

                .project-cate{
                    border-radius: 8px;
                    background-color: grey;
                    color: white;
                    padding: 5px 10px 5px 10px;
                }
            }

            .more-info{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                font-family: 'Poppins', sans-serif;

                .project-idea {
                    font-size: 20px;
                    width: 80%;
                    margin-bottom: 15px;
                    color: black;
                    
                }

                .project-impact{
                    width: 80%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 0;
                    margin-top: 0;
                    padding: 0;
                    

                    i {
                        font-size: 20px;
                        color: grey;
                        margin-right: 10px
                    }

                    p {
                        margin-top: 5px;
                        margin-bottom: 0;
                    }
                }

                .join-members {
                    width: 80%;
                    display: flex;
                    justify-content: flex-start;
                    padding: 0;
                    margin-top: 10px;

                    i {
                        font-size: 20px;
                        color: #ff4d2e;
                        margin-right: 10px
                    }

                    p {
                        
                        margin-top: 0;
                        font-size: 14px;
                        color: #ff4d2e
                    }
                }

                .roles {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .title {
                    width: 80%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0;
                    margin-top: -15px;

                    i {
                        font-size: 20px;
                        color: grey;
                        margin-right: 10px
                    }
                    }

                    .list-role {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: flex-start;


                        .each-role {
                            border-radius: 10px;
                            padding: 5px 10px 5px 10px;
                            margin-right: 5px;
                            font-size: 10px;
                        }
                    }
                }
            }

        }

        .member-info {
            // background-color: blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            font-family: 'Poppins', sans-serif;

            h3 {
                font-family: 'Poppins', sans-serif;
                padding: 30px;
                color: #ff4d2e;
                font-size: 22px;
            }

            p {
                font-size: 24px;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding-bottom: 20px;

                input {
                    margin: 10px;
                    height: 30px;
                    width: 60%;
                    outline: 0;
                    font-size: 14px;
                    border-width: 0 0 2px;
                    border-color: #ff4d2e;
                    color: #545150  ;
                    font-family: 'Poppins', sans-serif;
                }

                input:focus {
                    border-color: grey
                  }

                .select-css {
                    margin: 10px 0 0 0;
                    display: block;
                    font-size: 16px;
                    font-family: 'Poppins', sans-serif;
                    color: #444;
                    line-height: 1.3;
                    padding: .6em 1.4em .5em .8em;
                    width: 30%;
                    max-width: 100%;
                    box-sizing: border-box;
                    border: 1px solid #aaa;
                    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
                    border-radius: .5em;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: #fff;
                    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
                      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
                    background-repeat: no-repeat, repeat;
                    background-position: right .7em top 50%, 0 0;
                    background-size: .65em auto, 100%;
                }
                .select-css::-ms-expand {
                    display: none;
                }
                .select-css:hover {
                    border-color: #888;
                }
                .select-css:focus {
                    border-color: #aaa;
                    // box-shadow: 0 0 1px 3px grey;
                    box-shadow: 0 0 0 3px -moz-mac-focusring;
                    color: #222;
                    outline: none;
                }
                .select-css option {
                    font-weight:normal;
                }


                button {
                    width: 20%;
                    border-radius: 14px;
                    padding: 5px;
                    background-color: #ff4d2e;
                    color: white;
                    font-size: 14px;
                    border: 1px solid #ff4d2e;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }
    }

    .expand-info {
        font-family: 'Poppins', sans-serif;

        .members {
            width: 50%
        }

        .thoughts {

            .title {
                font-family: 'Poppins', sans-serif;
                color: red;
            }


            form {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                position: relative;
                width: 40%;
               

                input {
                    width: 100%;
                    height: 40px;
                    border-radius: 4px;
                    font-family: 'Poppins', sans-serif;
                    padding-left: 10px;
                    font-size: 12px;
                    border: none
                    // margin-right: 50px
                }

                i {
                    font-size: 20px;
                    color: #ff4d2e;
                    margin-left: 3px;
                    
                }

                .sign {
                    position: absolute;
                    display: flex;
                    width: 50%;
                    margin-left: 55%;

                    button {
                        width: 30%;
                        height: 24px;
                        border-radius: 6px;
                        margin-left: 10px;
                        font-size: 12px;
                        // padding: 5px;
                        border: 1px solid #ff4d2e;
                        font-family: 'Poppins', sans-serif;
                        text-align: center;
                        display: inline-block

                    }

                    .signIn {
                        background-color: white;
                        color: #ff4d2e;
                    }

                    .signUp {
                        background-color: #ff4d2e;
                        color: white
                    }
                }

                
            }
            .showComments {
                display: flex;
                flex-direction: column;
                font-family: 'Poppins', sans-serif;

                .each-comment {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 10px;
                    .avatar {
                        width: 3%;
                        height: 3%;
                        border-radius: 50%;
                        margin-right: 10px
                    }

                    .comment-container {
                        padding: 5px;
                        border: 1px solid #C8C8C8 ;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    
}