.join {
    display: flex;
    flex-direction: column;
    width: 90%;

    .title {
        font-weight: bold;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        

        .project-info {
            // background-color: red;
            padding: 10px;
            border-right: 1px solid black;
            .title {
                font-weight: bold;
            }
        }

        .member-info {
            // background-color: blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;

            form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                input {
                    margin: 10px;
                    height: 30px;
                    width: 60%;
                    outline: 0;
                    border-width: 0 0 2px;
                    border-color: blue

                }

                input:focus {
                    border-color: green
                  }
            }
        }
    }

    .expand-info {
        display: flex;
        // justify-content: space-between;
        align-items: flex-start;

        .members {
            width: 50%
        }

        .thoughts {
            form {
                display: flex;
                flex-direction: row;
                // justify-content: center;
                // align-items: center;

                .avatar {
                    width: 7%;
                    border-radius: 50%;
                }

                input {
                    width: 80%;
                }

                button {
                    width: 15%;
                    margin: 0
                }
            }
            .showComments {
                display: flex;
                flex-direction: column;

                .each-comment {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .avatar {
                        width: 8%;
                        height: 8%;
                        border-radius: 50%;
                        margin-right: 10px
                    }
                }
            }
        }
    }

    
}