.nav-frame {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // border: 1px solid blue;
    margin-bottom: 50px;

    .logo {
        margin-right: 20px;
        margin-left: 20px;
        color: #ff4d2e;
        // font-family: 'Poppins', sans-serif;
        font-family: 'Dancing Script', cursive;
        
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        a {
            margin-right: 20px;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #322F2E
        }
    }
}