
.comment-text {
    background: #EFEFEF;
    border-radius: 8px;
    padding: 6px 15px
}

.reply {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #3B3A3A;
    cursor: pointer;  
    margin-top: 3px;
}

.sub-reply {
    border: 1px solid #C6C6C6;
    padding: 12px 20px;
    border-radius: 8px;
    margin-right: 10px;
}

.sub-reply-btn {
    border-radius: 10px;
    padding: 8px 20px;
    // background-color: #ff4d2e;
    background: #fff;
    color: #ff4d2e;
    font-size: 12px;
    border: 1px solid #ff4d2e;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}